{% extends 'base.html' %}

{% block title %}E-Solutions - Registration{% endblock %}

{% block content %}
  <h2>Registration</h2>
  <form id="registration-form">
    <!-- Registration form fields -->
    <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
    <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
    <input type="email" id="email" name="email" placeholder="Email" required>
    <input type="password" id="password" name="password" placeholder="Password" required>
    <button id="register-button" type="submit">Register</button>
  </form>
{% endblock %}
